---
import { Icon } from "astro-icon/components";
import { Prism } from '@astrojs/prism';
---

<!-- This page is no longer needed and can be deleted -->
<script>
  // Redirect to home page
  window.location.href = "/";
</script>

<div class="p-8 text-center">
  <p>Redirecting to homepage...</p>
</div>
